.add_form {
	text-align: center;
}

.image1 {
	float: left;
  	border-radius: 8px;
	width: 26%;
	margin-left: 1%;
}

.add_form_container {
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
	width: auto;
	padding-bottom: 10px;
	border-radius: 5px;
	float: left;
	margin-left: 3%;
}

.image3 {
	float: right;
	border-radius: 8px;
	width: 26%;
	margin-right: 1%;
}

.elementsContainer {
	grid-template-columns: repeat(1fr);
}

.nameInput {
	text-align: center;
	padding-top: 25px;
	padding-bottom: 20px;
}

.add_form_field {
	text-align: justify;
	background-color: #1d6976;
	margin-left: 1rem;
	margin-right: 1rem;
	height: 50px;
	margin-bottom: 5px;
	padding: 5px;
	border-radius: 5px;
}

.formNameInput {
	font-size: 16px;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
	outline: transparent;
	padding: 10px 16px;
	width: 50%;
	text-align: center;
	border-style: solid;
	border-color: #ffffff;
	border-radius: 5px;
}

.add_form_input {
	margin-left: 1rem;
	margin-top: 10px;
	outline: transparent;
	padding: 5px 16px;
	width: 12rem;
	text-align: left;
	border-style: solid;
	border-color: #ffffff;
	border-radius: 5px;
}

.add_form_select {
	margin-left: 1rem;
	padding: 5px 16px;
	width: 8rem;
	border-radius: 5px;
	outline: transparent;
	border-color: #ffffff;
	border-radius: 5px;
}

.delete {
	background-color: #ffffff;
	margin-right: 1rem;
	margin-left: 1rem;
	padding: 5px 16px;
	width: 7rem;
	border-radius: 5px;
	display: inline-block;
	outline: transparent;
	border-style: solid;
	border-color: #ffffff;
	text-align: center;
}

.add {
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
	margin-left: 1rem;
	padding: 5px 16px;
	border-radius: 5px;
	display: inline-block;
	outline: transparent;
	border-style: solid;
	border-color: #dadada;
	text-align: center;
	margin-top: 0.5rem;
}

.submit {
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
	margin-left: 1rem;
	padding: 5px 16px;
	border-radius: 5px;
	display: inline-block;
	outline: transparent;
	border-style: solid;
	border-color: #dadada;
	text-align: center;
	margin-top: 0.5rem;
}

.delete:hover {
	border-color: #7a7a7a;
}

.delete:active {
	background-color: #999999;
}

.add:hover {
	border-color: #7a7a7a;
}

.add:active {
	background-color: #999999;
}

.submit:hover {
	border-color: #7a7a7a;
}

.submit:active {
	background-color: #999999;
}

.error {
	width: 270px;
}
