.table {
	background-color: white;
	border-collapse: collapse;
	border-spacing: 0;
	left: 50%;
}

.tableStriped {
	background-color: white;
	border-collapse: collapse;
	border-spacing: 0;
	left: 50%;
}
.trRow {
	background-color: white;
	border-bottom: 1px solid #ddd;
	color: #333;
	font-size: 20px;
	font-weight: 700;
	padding: 10px 15px;
	text-align: left;
	vertical-align: bottom;
}

.thText {
	background-color: white;
	border-bottom: 1px solid black;
	font-size: 25px;
	font-weight: 700;
	padding: 10px 15px;
	text-align: left;
	vertical-align: bottom;
}

.tdText {
	border-bottom: 1px solid #ddd;
	color: #333;
	font-size: 20px;
	padding: 10px 15px;
	text-align: left;
	vertical-align: top;
}

.form {
	background-color: white;
	border-collapse: collapse;
	border-spacing: 0;
}

.formSelect {
	background-color: white;
	border-collapse: collapse;
	border-spacing: 0;
}

.formSelectLabel {
	background-color: white;
	border-collapse: collapse;
	border-spacing: 0;
}

.formSelectSelection {
	background-color: white;
	border-collapse: collapse;
	border-spacing: 0;
	max-width: 200px;
	min-width: 100px;
}

.formSelectButton {
	background-color: white;
	border-collapse: collapse;
	border-spacing: 0;
}

.formSelectOption {
	background-color: white;
	border-collapse: collapse;
	border-spacing: 0;
}

.formOptions {
	background-color: white;
	border-collapse: collapse;
	border-spacing: 0;
}

.formOptionsLabel {
	background-color: white;
	border-collapse: collapse;
	border-spacing: 0;
	font-size: medium;
}

.formOptionsSelection {
	background-color: white;
	border-collapse: collapse;
	border-spacing: 0;
	max-width: 200px;
	min-width: 100px;
}

.formOptionsName {
	background-color: white;
	border-collapse: collapse;
	border-spacing: 0;
}

.formOptionsColumn {
	background-color: white;
	border-collapse: collapse;
	border-spacing: 2;
	border-color: #333;
}

.formOptionsColumnButton {
	background-color: white;
	border-collapse: collapse;
	border-spacing: 0;
}
