.gridOptionsTable {
	display: grid;
	grid-template-columns: 1fr 6fr;
}

.table {
	background-color: white;
	border-collapse: collapse;
	border-spacing: 0;
	left: 50%;
}

.tableStriped {
	background-color: white;
	border-collapse: collapse;
	border-spacing: 0;
	left: 50%;
}

.trRow {
	background-color: white;
	border-bottom: 1px solid #ddd;
	color: #333;
	font-size: 20px;
	font-weight: 700;
	padding: 10px 15px;
	text-align: left;
	vertical-align: bottom;
}

.thText {
	background-color: white;
	border-bottom: 1px solid black;
	font-size: 25px;
	font-weight: 700;
	padding: 10px 15px;
	text-align: left;
	vertical-align: bottom;
}

.tdText {
	border-bottom: 1px solid #ddd;
	color: #333;
	font-size: 20px;
	padding: 10px 15px;
	text-align: left;
	vertical-align: top;
}

.form {
	background-color: white;
	border-collapse: collapse;
	border-spacing: 0;
}

.selectionAndButton {
	background-color: #1d6976;
	margin: auto;
	display: grid;
	grid-template-columns: 17rem 6rem;
	grid-column-gap: 0.5rem;
	padding-top: 1rem;
	padding-bottom: 1rem;
	border-radius: 5px;
	padding-left: 1rem;
	padding-right: 1rem;
}

.formSelect {
	display: grid;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    left: 0;
    right: 0;
    margin: auto;
	width: 27rem;
	padding-bottom: 12px;
	border-radius: 5px;
	padding-top: 0.5rem;
	margin-bottom: 1rem;
}

.formSelectLabel {
	margin-bottom: 0.5rem;
	text-align: center;
	background-color: white;
	border-collapse: collapse;
	border-spacing: 0;
}

.formSelectSelection {
	border-collapse: collapse;
	border-spacing: 0;
	min-width: 100px;
}

.formSelectButton {
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
	background-color: #f1f1f1;
	border-radius: 5px;
	display: inline-block;
	outline: transparent;
	border-style: solid;
	border-width: 1px;
	border-color: #dadada;
	text-align: center;
}

.formSelectOption {
	background-color: white;
	border-collapse: collapse;
	border-spacing: 0;
}

.formOptions {
	margin-left: 1rem;
	background-color: white;
	border-collapse: collapse;
	border-spacing: 0;
}

.formOptionsLabel {
	background-color: white;
	border-collapse: collapse;
	border-spacing: 0;
	font-size: medium;
}

.formOptionsSelection {
	background-color: white;
	border-collapse: collapse;
	border-spacing: 0;
	max-width: 200px;
	min-width: 100px;
}

.formOptionsName {
	background-color: white;
	border-collapse: collapse;
	border-spacing: 0;
}

.formOptionsColumn {
	background-color: white;
	border-collapse: collapse;
	border-spacing: 2;
	border-color: #333;
}

.formOptionsColumnButton {
	background-color: white;
	border-collapse: collapse;
	border-spacing: 0;
}

.formSelectButton:active {
	background-color: #dadada;
}
