.DoTest_container {
    background-color: rgb(146, 170, 170);
    padding-top: 1rem;
}

.DoTest_field {
    position: relative;
    
    margin-top: 1rem;
    background-color: rgb(28, 129, 129);
    padding: 0.6rem;
    border-radius: 7px;
    width: 50rem;
    margin-bottom: 0.5rem;
    padding-left: 2rem;
    margin-left: auto;
    margin-right: auto;
}

.DoTest_input {
    height: 2rem;
    width: calc(95%);
    height: 2.5rem;
    font-size: 1.2rem;
}

.DoTest_formName{
    font-size: 1.5rem;
}

.submit_button {
    background-color: #f5f5f5;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
    width: 7rem;
    margin: 0;
    border: none;
    outline: none;
    font-size: 1rem;
    color: black;
    margin: 0;
    position: absolute;
    left: 50%;

    
  }
  
  .submit_button:hover {
    transform: translateY(-5px);
  }