.footer {
	background-color: #1d6976;
	border-top: 1px solid #000000;
	text-align: center;
	position: fixed;
	left: 0;
	bottom: 0;
	height: 40px;
	width: 100%;
}

.footerPhantom {
	display: block;
	padding: 0px;
	height: 10px;
	width: 100%;
}

.footerText {
	font-size: 12px;
	padding: 5px;
	text-align: center;
	color: #ffffff;
}
