.header {
	background-color: #1d6976;
	height: 5rem;
	width: 100%;
	position: fixed;
	margin-bottom: 3rem;
	display: flex;
	align-items: center;
}

.headerLogoLeft {
	margin-top: -25px;
	height: 50px;
	position: absolute;
	left: 30px;
}

.headerPhantom {
	display: block;
	padding: 0px;
	height: 10px;
	width: 70%;
}

.headerLogoRight {
	height: 50px;
	margin-top: -25px;
	position: absolute;
	right: 25px;
}
