.home_section{
    display: flex;
    justify-content: center;
}

.login_box{
    width: 320px;
    height: 390px;
    background: #1d6976;
    position: absolute;
    padding: 50px 30px;
    border-radius: 30px;
    text-align: center;
    color: white;
    justify-content: center;
}

.login_box_google{
    display: flex;
    padding-top: 5%;
    justify-content: center;
}

.about_us_button{
    color: white;
    border: none;
    padding: 0.5rem;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 1rem;
    background-color: aliceblue;
    color:black;
    width: 65%;
}
