div {
    font-family: 'kanit-thin', sans-serif;
}

.title {
    margin-top: -30px;
    font-size: 20px;
}

p {
    text-align: left;
}

.main_layout {
    display: grid;
    grid-template-columns: 27rem 59rem 14rem;
    grid-column-gap: 2rem;
}

.playerInfo {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin: 1rem 1rem 1rem;
    padding-top: 1rem;
    display: grid;
    width: 28rem;
    height: 16rem;
    grid-template-columns: repeat(2, 14rem)
}

.playerPicture {
    scale: 120%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.playerName {
    text-align: center;
    margin-top: -8rem;
}

.side_buttons {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin: 1rem 1rem 1rem;
    padding-top: 0.5rem;
    width: 28rem;
    height:22.5rem;
}

.tests {
    text-align: center;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin: 1rem 1rem 1rem;
    padding-top: 1rem;
    width: 60rem;
}

.test_buttons {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin: 1rem 1.5rem 1rem;
    padding-top: 10px;
    background-color:#1d6976;
    display: grid;
    grid-template-columns: repeat(3, 19rem);
}

.load_button {
    padding-top: 2rem;
}
