.dashboard__section_admin {
  text-align: center;
}

.dashboard__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-left: 10px;
  margin-right: 10px;
}

.dashboard__button {
  background-color: #f5f5f5;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease-in-out;
  cursor: pointer;
  width: calc(100% - 20px);
  margin: 0 10px 20px;
  border: none;
  outline: none;
  font-size: 1.6rem;
  color: black;
  
}

.dashboard__button:hover {
  transform: translateY(-5px);
}

.logout {
  grid-column: 1 / -1;
  background-color: #f5f5f5;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease-in-out;
  cursor: pointer;
  width: calc(90% - 20px);
  margin: 0 10px 20px;
  border: none;
  outline: none;
  font-size: 1.6rem;
  margin-left: 20px;
  margin-right: 20px;
  color: black;
}
